
header{
  color: white;
  padding: 10px;
  background: midnightblue;
}
main{
  padding: 5px 10px;
  section,table{
    width: 100%;
  }
}
table{
  overflow: auto;
  max-height: 210px;
  height: 210px;
}
tbody{
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  tr{
    padding: 5px;
  }
}
.border{
  border-top: 1px solid #e8e8e8;
}
button{
  padding: 12px 16px;
  border: 1px solid #e8e8e8;
  width: 100%;
  background: white;
  border-radius: 2px;
}
